 *{
  padding:0;
  margin:0;
  box-sizing: border-box;
 }

input::placeholder{
    font-size: 12px;
    margin-left: 50px;
}

.grid-control{
    display:grid;
    grid-template-columns: 4fr 1fr 1fr;
}